body{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background:#f2f2f2;
  margin:0;
  padding:20px;
}

.box{
  max-width:520px;
  margin:auto;
  background:#fff;
  padding:20px;
  border-radius:16px;
  box-shadow:0 10px 30px rgba(0,0,0,.1);
}

h1{text-align:center}

input{
  width:100%;
  padding:14px;
  font-size:18px;
  border-radius:10px;
  border:1px solid #ccc;
  margin-bottom:10px;
}

button{
  width:100%;
  padding:14px;
  font-size:16px;
  border-radius:12px;
  border:none;
  background:#0a6cff;
  color:white;
  margin-top:10px;
}

button.nav{
  background:#3b82f6;
}

#result{
  margin-top:20px;
  padding:15px;
  background:#fafafa;
  border-radius:12px;
}
